:root {
  --primary: purple;
  --primary-darken: rgb(98, 0, 98);
  --accent: rgb(234, 199, 2);
  --off-white: rgb(245, 245, 248);
  --gray: #e6e8f5;
  --warning: #c20e3e;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-gutter: stable both-edges;
}
/* General classes */
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
/* Navigation */
nav {
  height: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100vw;
}
nav h1 {
  padding: 12px 43px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 30px;
}
nav li {
  display: inline-block;
}
nav li a {
  display: block;
  text-align: center;
  padding: 18px 12px;
}
nav li a:hover {
  background-color: var(--primary-darken);
}
nav,
nav a {
  color: white;
  text-decoration: none;
}
